<launch>
  <node pkg="chessboard-tracker" type="fast_checkerboard_detector" name="checkerboard_detector" ns="checkerboard" output="screen">
    <param name="grid_size_x" value="5" />
    <param name="grid_size_y" value="4" />
    <param name="rect_size_x" value="0.0337" />
    <param name="rect_size_y" value="0.0337" />
    <param name="rectified_image" value="true" />

   	<!--param name="trajectory_file" value="$(find fast_checkerboard_detector)/output/Checkerboard_marker_trajectory.txt" /-->
   	<param name="write_trajectory" value="false" />

    <remap from="camera_info" to="/camera/camera_info" />
    <remap from="camera_image"  to="/camera/image_rect" />
  </node>
</launch>
